<div class="row">
    <div class="col-md-5">
        <!-- <jsapp2-recipe-list
            (recipeWasSelected)="selectedRecipe = $event"></jsapp2-recipe-list> -->
        <jsapp2-recipe-list></jsapp2-recipe-list>
    </div>
    <div class="col-md-7">
        <!-- <jsapp2-recipe-detail
            *ngIf="selectedRecipe; else infoText"
            [recipe]="selectedRecipe"></jsapp2-recipe-detail>
            <ng-template #infoText>
                <p>Please select a Recipe!</p>
            </ng-template> -->
            <router-outlet></router-outlet>
            <!-- Only having the router outlet means we can't select individual recipes to load. Our old logic of loading recipes is broken. -->
    </div>
</div>