<!-- <app-header (featureSelected)="onNavigate($event)"></app-header> the $event thing could also be replaced with "any-data" and the $event could be added to header.component.html in the click events, like "onSelect('recipe', $event)" -->
<app-header></app-header> 
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- <jsapp2-recipes *ngIf="loadedFeature === 'recipe'"></jsapp2-recipes>
      <jsapp2-shopping-list *ngIf="loadedFeature === 'shopping-list'"></jsapp2-shopping-list> -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
