<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Recipe</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        
        

        <jsapp2-recipe-item  
        *ngFor="let recipeEl of recipes"
        [recipe]="recipeEl"
        class="recipe"
        (recipeSelected)="onRecipeSelected(recipeEl)"></jsapp2-recipe-item> <!-- the recipe in square brackets is referring to the "recipe" from @Input in recipe-item-component.ts -->
    </div>
</div>
